.section-img {
  padding: 94px 0px;
}
/*Стили list-button*/
.list-button {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  & .item {
    margin-right: 8px;
  }
  & .item:last-child {
    margin: 0px;
  }
}
/*Стили section-button*/
.section-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: solid 1px;
  border-color: #f5f4fa;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--nav-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.list {
  list-style: none;
}
/*Стили item-img*/
.item-img {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-left: 30px;
  box-sizing: border-box;
  width: 370px;

  &:nth-child(3n + 1) {
    margin-left: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
/*Стили list-img*/
.list-img {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  & .link {
    display: block;
    width: 100%;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .link:hover,
  & .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  & .link:hover .images-anime-p,
  & .link:focus .images-anime-p {
    opacity: 1;
    transform: translateY(0);
  }
}
.list-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--primary-color);
}
.img-container {
  padding: 20px 24px;
  width: 370px;
}

.list-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--no-primary-color);
}

.images-container {
  position: relative;
  overflow: hidden;
}
.images-anime-p {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
