.section-team {
  padding-top: 94px;
  background: #f5f4fa;
  padding-bottom: 94px;
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list {
  display: flex;

  & .item:last-child {
    margin: 0px;
  }
  & .item {
    margin-right: 30px;
    background-color: var(--white);
    padding-bottom: 30px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.team-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.name-container {
  padding-top: 30px;
  background-color: var(--white);
}
.team-job {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--no-primary-color);
}
.team-li-svg {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.team-ul-svg {
  display: inline-flex;
  margin-top: 16px;
}

.team-list-svg {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--nav-color);
  }
  &:hover .team-icon {
    fill: var(--white);
  }
  &:focus {
    background-color: var(--nav-color);
  }
  &:focus .team-icon {
    fill: var(--white);
  }
}
